@import "vars"
@import "fonts"
@import "libs"
/* BASIC SETTINGS */
::placeholder
	color: #666
::selection
	background-color: $accent
	color: #fff
button:focus
	outline: none
button::-moz-focus-inner
	border: 0
a, a:visited, a:focus, a:active, a:hover
	outline: 0 none !important
	text-decoration: none !important
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.no-padding
	padding-left: 0 !important
	padding-right: 0 !important
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.text-center
	text-align: center
b, strong
	font-weight: bold
.inverse
	color: $dark-text
	background-color: #fff
.s-header, .s-safety, .s-video, .s-condition,.s-callback, .s-homes, .s-exursion, .s-footer, .s-copyright
	position: relative
	overflow-x: hidden 
.bg-section
	background-position: center
	background-size: cover
	background-repeat: no-repeat
.title_page
	font-family: $default-font, sans-serif
	font-weight: bold
	line-height: 1.35
	text-transform: uppercase
.button
	font-family: $opensans
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $btn
	padding: 8px 28px
	font-size: 14px
	text-transform: uppercase
	font-weight: 600
	border-radius: 38px
	text-align: center
	white-space: nowrap
	position: relative
	outline: none
	transition: background-color .2s ease
	cursor: pointer
	box-shadow: 0px 2px 4.85px 0.15px rgba(0, 0, 1, 0.1)
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($btn, 8%)
.button-green
	background-color: $accent
	padding: 10px 30px
	&:hover
		background-color: lighten($accent, 8%)
.hr, .hr-blue
		display: inline-block
		width: 40px
		height: 8px
		background-color: $accent
		border: none
		margin-left: 5px
.hr-blue
	background-color: $btn
	width: 27px
	height: 5px
.circle 
	display: block
	position: absolute
	content: ''
	border-radius: 50%
	background-color: $btn
	background: linear-gradient(144deg, #461393 0%, #3276b0 45%, #c2dff6 100%)
	box-shadow: 2px 2px 5px rgba(#000, .2)
.ball-1
	width: 543px
	height: 543px
	position: absolute
	top: 5%	
	left: -350px
	opacity: .50
.ball-2
	width: 233px
	height: 233px
	position: absolute
	top: 20%	
	left: 29%
	opacity: .50
	filter: blur(3px)
.ball-3
	width: 384px
	height: 384px
	position: absolute
	top: 15%	
	right: 0
	opacity: .50
	filter: blur(3px)
.section-overlay
	&::before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(#333, .65%)

 /* HEADER */
.s-header
	width: 100%
	padding: 40px 0 200px
	&::after
		content: ''
		display: block
		position: absolute
		width: 100%
		height: 100%
		max-height: 194px
		bottom: 0
		left: 0
		background: url(../img/s-waves.png) center bottom -10px no-repeat
		background-size: cover
		z-index: 100 
.headerTop, .footer
	z-index: 100
	position: relative
	&-logo
		max-width: 244px
		a
			display: inline-block
			width: 100%
			height: 100%
			cursor:pointer
		&_img
			width: 100%
			img
				z-index: 100
		p
			text-align: left
			font-size: 7px
			text-transform: uppercase
			margin: -10px 0 0 65px
			white-space: nowrap
	&-contacts, .callback-map
		font-family: $opensans
		font-size: 14px
		font-weight: 200
		padding: 17px 0
		&_box
			width: 100%
			display: flex
			margin-bottom: 15px
			&_icon
				display: inline-block
				width: 12px
				margin-right: 7px
				height: 100%
				line-height: 1.3
			&_text
				text-align: left
				margin: 0
				line-height: 1.3
			.fa
				font-size: 14px
				color: $fa-icon
				line-height: 1.3
	&-tel
		text-align: center
		max-width: 195px
		margin: 10px 0 0 auto
		p
			font-size: 19px
			white-space: nowrap
			margin-bottom: 5px
			span
				color: $accent
				font-weight: bold
				font-size: 22px
		a
			display: inline-block
.header-waves
	display: block
	position: absolute
	width: 48%
	height: 650px
	background: url(../img/header-waves.png) 0 0 no-repeat
	background-size: 80%
	z-index: 2
.headerContent
	width: 100%
	padding: 9% 0  3% 0
	color: #f4f3ee
	&-text
		&__title
			font-size: 60px
			line-height: 80px
			span
				font-weight: 200
	p 
		margin-top: 10px
		font-size: 18px
		font-weight: 200
.headerAdvantages
	width: 100%
	height: 100%
	&-item
		font-size: 9px
		min-height: 50px
		display: table
		border-spacing: 10px
		margin-bottom: 20px
		&_img
			display: table-cell
			vertical-align: middle
			width: 50px
			height: auto
			float: left
		&_text
			display: table-cell
			vertical-align: middle
		p
			font-size: 16px
			font-weight: 200
			line-height: 1.2
			margin: 0
			strong
				text-transform: uppercase
				font-weight: 600
				white-space: nowrap
/* HEADER END*/
/* SAFETY */
.s-safety
	overflow-x: hidden
	background-color: #fff
.safety
	&-title
		text-align: center
		font-weight: 200
		color: $dark-text
		font-size: 39px
		line-height: 1.5
		&_color
			color: $accent
			font-weight: bold
.safety-wrapper
	padding: 60px 0 80px
	position: relative
.safety-box
	position: relative
	z-index: 1
	width: 100%
	min-height: 354px
	height: 100%
	border-radius: 15px
	text-align: center
	background-color: #37325d
	box-shadow: 0px 7px 14.58px 3.42px rgba(0, 0, 1, 0.13)
	&_bg1
		background: url(../img/safety/bg-1.jpg) center no-repeat
		background-size: cover
	&_bg2
		background: url(../img/safety/bg-2.jpg) center no-repeat
		background-size: cover
	&_bg3
		background: url(../img/safety/bg-3.jpg) center no-repeat
		background-size: cover
	&_bg4
		background: url(../img/safety/bg-4.jpg) center no-repeat
		background-size: cover
	&_bg5
		background: url(../img/safety/bg-5.jpg) center no-repeat
		background-size: cover
	&_bg6
		background: url(../img/safety/bg-6.jpg) center no-repeat
		background-size: cover
	&_bg7
		background: url(../img/safety/bg-7.jpg) center no-repeat
		background-size: cover
	&_bg8
		background: url(../img/safety/bg-8.jpg) center no-repeat
		background-size: cover
	&_bg9
		background: url(../img/safety/bg-9.jpg) center no-repeat
		background-size: cover
	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		border-radius: 15px
		background: linear-gradient(180deg,  transparent 0%, #000 70%)
		opacity: .4
	&_title
		position: absolute
		z-index: 1
		display: inline-block
		width: 100%
		left: 50%
		top: 65%
		transform : translateX(-50%)
		font-size: 18px
	&_text
		position: absolute
		z-index: 1
		display: inline-block
		width: 90%
		left: 50%
		top: 75%
		line-height: 1.4
		transform : translateX(-50%)
		font-size: 14px
		font-weight: 200
	&_wrap
		padding-bottom: 30px
/* SAFETY END */
/* VIDEO */
.s-video
	min-height: 880px
	display: flex
	justify-content: center
	align-items: center
.video
	position: relative
	z-index: 1
	&_title
		font-weight: 200
		font-size: 39px
		margin-bottom: 20px
	&-btn
		display: inline-block
		width: 130px
		height: 130px
		background-color: $accent
		border-radius: 50%
		cursor: pointer
		transition: background-color .25s ease
		&:hover
			background-color: lighten($accent, 8%)
		.fa
			font-size: 90px
			line-height: 130px
			text-align: center
			color:#fff
/* VIDEO END*/
/* CONDITION */
.s-condition
	background-color: #fff
	padding-top: 100px
	&_title
		font-size: 30px
		position: relative
		z-index: 11
.condition
	width: 100%
	&-wave
		position: absolute
		width: 100%
		height: 225px
		background: url(../img/condition/top-waves.png) center no-repeat
		background-size: cover
		top: -214px
		left: 0
	&-content
		margin-top: 40px
	&-box
		font-family: $opensans
		text-align: center
		width: 100%
		height: auto
		color: #fff
		border-radius: 20px
		padding-top: 40px
		box-shadow: 0px 7px 14.58px 3.42px rgba(0, 0, 1, 0.13)
		position: relative
		z-index: 1000
		h4
			font-size: 30px
		p
			color: #e5e5e5
			font-size: 14px
			margin-top: 20px
		&_img	
			&__1
				background: #4a556f url(../img/condition/box-1.png) center no-repeat 
				background-size: 115%
			&__2
				background: #4a556f url(../img/condition/box-2.png) no-repeat center
				background-size: 135%
			&__3
				background: #4a556f url(../img/condition/box-3.png) no-repeat center
				background-size: 135%
.btn-box
	margin-top: 20px
	margin-bottom: 50px
/* Блок question*/
.question
	margin: 40px 0 20px
	text-align: center
	max-height: 40px
	span
	 display: inline
	 img
	 	display: inline-block
	 	height: 40px
	 	width: 40px
	 	margin: 0 15px
		&::before, &::after
		 content: ''
		 display: inline-block
		 width: 40%
		 height: 1px
		 background-color: #e8e8e8
	&-phone
		text-align: center
		p
			font-family: $opensans
			font-weight: 600
		span
			font-size: 18px
/* CONDITION END*/
/* HOMES */
.s-homes
	padding: 120px 0 100px
	&:before
		content: ''
		display: block
		position: absolute
		width: 100%
		height: 169px
		top: 0
		left: 0
		background: url(../img/condition/topBg.png) center  top -10px no-repeat
		background-size: cover
		z-index: 100
	&_title
		font-size: 39px
		font-weight: 200
		position: relative
		z-index: 1
		line-height: 1.5
		strong
			color: $accent
.homes
	padding: 60px 0 
	&-buy
		&_text
			font-family: $opensans
			font-size: 20px
			font-weight: 500
			line-height: 1.9
			margin: 0
	&-box
		box-shadow: 0px 7px 14.58px 3.42px rgba(0, 0, 1, 0.13)
		border-radius: 15px
		background-color: #fff
		font-family: $opensans
		&_title
			font-size: 24px
		&_hr
			margin-top: 5px
			margin-bottom: 5px
			width: 27px
			height: 5px
		&_img
			display: inline-block
			width: 100%
			border-top-left-radius: 15px
			border-top-right-radius: 15px
			margin-bottom: 25px
		p
			font-size: 18px
			font-weight: 200
			margin: 0
			line-height: 2
		&_btn
			margin-top: 20px
			margin-bottom: 40px
			font-size: 14px
/* HOMES END */
/* CALLBACK */
.callback-map
	font-family: $opensans
	font-size: 12px
	font-weight: 200
	padding: 30px
	border-radius: 15px
	box-shadow: 0px 7px 14.58px 3.42px rgba(0, 0, 1, 0.13)
	max-width: 270px
	position: absolute
	left: 20%
	top: 70px
	&_wrapper
		position: relative
		background: #333 url(../img/callback/bg-map.jpg) left -100px no-repeat
		background-size: 180%
		height: 100%
		min-height: 350px
	&_title
		font-size: 14px
		margin-bottom: 20px
	&_box
		width: 100%
		display: flex
		margin-bottom: 15px
		&__icon
			display: inline-block
			width: 16px
			margin-right: 7px
			height: 100%
			line-height: 1.3
		&__text
			text-align: left
			margin: 0
			line-height: 1.3
		.fa
			font-size: 14px
			color: $accent
			line-height: 1.3
.callback-form_wrapper
	position: relative
	font-family: $opensans
	background: linear-gradient(90deg, #3d4477 0%, #6d9dcb 50%, #454685 100%)
	height: 100%
	width: 100%
	padding: 80px 0 90px
.callback-form
	&_manadger
		width: 100%
	&_title
		font-size: 14px
	&_text
		font-size: 12px
		font-weight: 200
.callback-main
	width: 100%
	&_title
		font-size: 20px
	&_text
		font-size: 14px
		font-weight: 200
.form-callback, .form-excursion
	&-input
		outline: none
		border: 1px solid #ebebeb
		border-radius: 3px
		padding: 9px 0 9px 15px
		min-width: 200px
		width: 100%
		margin-right: 14px
		color: #979797
		box-shadow: 0px 2px 4.85px 0.15px rgba(0, 0, 1, 0.1)
		margin-bottom: 15px
	p
		margin-top: 5px
		font-size: 10px
	a
		text-decoration: none
		border-bottom: 1px dashed #fff
		color: #fff
		cursor: pointer
	&-checkbox
		margin-right: 5px
		vertical-align: middle
	&-button
		margin-top: 5px
		padding: 13px 35px
		width: 100%
/* CALLBACK END */
/* EXCURSION */
.s-excursion
	position: relative
	overflow-x: hidden
	padding: 70px 0
	background: url(../img/excursion/bottomBg.png) right bottom -100% no-repeat
	background-size: 35%
.excursion
	span
		display: block
		width: 100%
		text-align: center
		margin-bottom: 20px
	&-text
		&_title
			font-size: 60px
			font-weight: 200
		p
			margin-top: 20px
			font-size: 24px
			font-weight: 200
		a
			display: inline-block
			width: 67px
			height: 67px
			margin-right: 10px
			margin-top: 50px
			background-color: #6089bf
			border-radius: 50%
			text-align: center
			transition: all .25s ease
			&:nth-child(2)
				background-color: #3b5998
			&:nth-child(3)
				background-color: #cd191e
			&:hover
				transform: scale(.9)
			.fa
				line-height: 67px
				font-size: 28px
				color: #fff
	&-circle
		z-index: -1
		filter: blur(4px)
		opacity: .5
		&_left
			width: 220px
			height: 220px
			bottom: 10%
			left: 12%
		&_right
			width: 160px
			height: 160px
			top: 45%
			left: 55%
		&_center
			width: 300px
			height: 300px
			top: 20%
			right: -190px
.form-excursion, .white-popup-message
	font-family: $opensans
	padding: 10%
	padding-bottom: 15%
	background-color: $form
	background: $form url(../img/excursion/formBg.png) center bottom -20px no-repeat
	background-size: 100%
	&-input
		width: 100%
		margin: 0 0 20px 0
	&_title
		font-weight: 400
		line-height: 1.6
		margin-bottom: 0
		font-size: 18px
		margin: 0 -10px
	a 
		border-bottom: 1px dashed #333
		color: #333
	p
		margin-top: 0
		font-size: 10px
	&_text
		margin-top: 20px
		display: inline-block
		font-size: 12px
	&-button
		width: 100%
		font-size: 18px
/* EXCURSION END */
/* FOOTER */
.s-footer
	position: relative
	background-color: $footer
	padding: 30px 0 10px 0
.footer
	&-logo
		p
			font-size: 6px
			width: 100%
	&-right
		padding-top: 12px
.footer-right-link, .copyright-link
	font-size: 12px
	color: rgba(#fff, .35)
	border-bottom: 1px dashed rgba(#fff, .35)
	white-space: nowrap
	text-decoration: none
	text-transform: uppercase
	transition: background-color .3s ease
	margin-top: 12px
	&:hover
		color: rgba(#fff, .55)
		border-bottom: 1px dashed rgba(#fff, .55)
/* FOOTER END */
/* COPYRIGHT */
.s-copyright
	background-color: #2b2c33
	padding: 1.5%
.copyright
	font-family: $opensans
	font-size: 12px
	color: rgba(#fff, .45)
	height: 100%
	&-text
		text-transform: uppercase
	&-link
		text-transform: none
		border-bottom: 1px solid rgba(#fff, .45)
		&:hover
			color: rgba(#fff, .55)
			border-bottom: 1px solid rgba(#fff, .55)
	&-sells
		text-align: right
	ul
		list-style-type: none
		display: inline-block
		width: 180px
		height: 45px
		margin: 0
		padding: 0
		li
			position: relative
			width: 100%
			height: 100%
			span
				display: block
				text-align: right
				line-height: 1.4
				position: absolute
				top: 0
				right: 45px	
			&::after
				content: ''
				display: block
				position: absolute
				width: 35px
				height: 35px
				background: url(../img/sells.png) center no-repeat
				background-size: 100%
				top: 0
				right: 0		
/* COPYRIGHT END */
/* MODAL "FORM-CALLBACK" */
.white-popup 
  position: relative
  width: auto
  max-width: 350px
  margin: 100px auto
  color: #333
  &-form
  	text-align: center
  	border-radius: 3px
  	.hr
  		height: 6px
  		width: 35px
  		margin: 10px 0
  	input
  		&:nth-child(3)
  			margin-top: 10px
  	button
  		margin-bottom: 5%

/* MODAL "THANKS" */
.overlay 
	position: absolute
	z-index: 1000
	width: 100%
	height: 100vh
	top: 0
	left: 0
	background-color: rgba(0, 0, 0, .5)
	display: block
.popup
	position: relative
	margin: 30vh auto
	color: #333
	max-width: 420px
	min-height: 180px
	padding: 40px 20px 50px 15px
	border-radius: 3px
	background: $form url(../img/excursion/formBg.png) left bottom -30px no-repeat
	background-size: 100%
	.fa
  	font-size: 80px
  	font-weight: bold
  	color: #1eb6c1
  	float: left
  	margin: -10px 10px 0 0
	p
  	font-size: 14px
  	font-weight: 400
  	line-height: 1.4
	&-close
  	display: inline-block
  	position: absolute
  	top: -5px
  	right: 10px
  	transform: rotate(45deg)
  	font-size: 26px
  	cursor: pointer
  	&:hover
  		opacity: .8
/* ANIMATION MODAL "FORM_CALLBACK" */
.mfp-3d-unfold .mfp-content 
	perspective: 2000px
.mfp-3d-unfold .mfp-with-anim
	opacity: 0
	transition: all 0.3s ease-in-out
	transform-style: preserve-3d
	transform: rotateY(-60deg)
.mfp-3d-unfold.mfp-bg 
	opacity: 0
	transition: all 0.5s
.mfp-3d-unfold.mfp-ready .mfp-with-anim 
	opacity: 1
	transform: rotateY(0deg)
.mfp-3d-unfold.mfp-ready.mfp-bg 
	opacity: 0.8
.mfp-3d-unfold.mfp-removing .mfp-with-anim 
	transform: rotateY(60deg)
	opacity: 0
.mfp-3d-unfold.mfp-removing.mfp-bg 
	opacity: 0
@import "media" // Always at the end
